<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li aria-current="page" class="breadcrumb-item active">User Profile</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img [src]="_loginService.getUser().imageUrl"
                 alt="avatar"
                 class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
            <h5 class="my-3">{{_loginService.getUser().username}}</h5>
            <div class="d-flex justify-content-center mb-2">
              <button class="btn btn-primary" data-bs-target="#EditInform" data-bs-toggle="modal" type="button">
                Thay Đổi Thông Tin
              </button>
              <button class="btn btn-outline-primary ms-1" data-bs-target="#ChangePass" data-bs-toggle="modal"
                      type="button">
                Đổi Mật Khẩu
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{_loginService.getUser().fullName}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{_loginService.getUser().email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{_loginService.getUser().phoneNumber}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{_loginService.getUser().address}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Modal Edit Information-->
<div aria-hidden="true" aria-labelledby="EditInform" class="modal fade" data-bs-backdrop="static"
     data-bs-keyboard="false"
     id="EditInform" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        abc
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
        <button class="btn btn-primary" type="button">Understood</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Change Password-->
<div aria-hidden="true" aria-labelledby="ChangePass" class="modal fade" data-bs-backdrop="static"
     data-bs-keyboard="false"
     id="ChangePass" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel1">Modal title</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        bcd
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
        <button class="btn btn-primary" type="button">Understood</button>
      </div>
    </div>
  </div>
</div>
