table {
  display: flex;
  flex-flow: column;
  width: 100%;
}

thead {
  flex: 0 0 auto;
}

tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 500px;
}

tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}

tbody tr td {
  vertical-align: middle;
  border: none;
}

/* width */
tbody::-webkit-scrollbar {
  width: 10px;
}

/* Track */
tbody::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 2px grey; */
  border-radius: 10px;
}

/* Handle */
tbody::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.text-error {
  color: red !important;
}


/*form image product*/
.image-form {
  /*min-width: 1089px;*/
  width: 100%;
  /*border: 1px solid #ccc;*/
  /*border-radius: 4px;*/
}

.image-form .image-child {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: start;

}

.image-child .img-product {
  width: 80px;
  height: 80px;
  padding: 10px;
}

.span-file {
  color: #146c43;
  cursor: pointer;
}

.upload {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4)
}

.upload-icon {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.image-list {
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  margin: 10px;
}

.image-list .img-product-update {
  width: 100%;
  height: 100%;
}

.del-img {
  position: absolute;
  top: -9px;
  right: 2px;
  font-weight: 500;
  font-size: 1.5rem;
  color: red;
  cursor: pointer;
  user-select: none;
}

.image-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table#info_product tbody tr td {
  border-bottom: 1px solid #59ab6e;
}
