<!-- Start Top Nav -->
<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
  <div class="text-light">
    <div class="w-100 d-flex justify-content-end">
      <div class="w-100 d-flex justify-content-end">
        <div *ngIf="_login.isLoggedIn()" class="d-flex justify-content-between align-items-center"
             style="max-width: 35%; margin-right: 25px;">
                    <span style="font-size: 0.9rem !important; font-weight: bold;padding-right: 20px;">Xin Chào
                        <span style="margin-left: 5px; color: #59ab6e">{{user.fullName | lowercase}}</span>
                    </span>
          <span (click)="logout()" class="logout" style="font-size: 0.9rem !important;">
                        <i class="fas fa-sign-out-alt" style="margin-right: 5px;"></i>
                        Logout
                    </span>
          <div class="form-group">
            <!--            <label for="languages">Ngôn Ngữ</label>-->
            <select (change)="languages($event.target)" class="form-control" id="languages" name="languages" style="
                  font-size: 0.8rem !important;background: none;border: none; color: white; font-weight: bold; outline: none">
              <option [selected]="lang=='en'" style="color: black; font-weight: bold; font-size:0.8rem !important"
                      value="en">Tiếng Anh
              </option>
              <option [selected]="lang=='vi'" style="color: black; font-weight: bold; font-size:0.8rem !important"
                      value="vi">Tiếng
                Việt
              </option>
            </select>
          </div>
        </div>
        <div *ngIf="!_login.isLoggedIn()">
          <a [routerLink]="['/account/register']"
             class="btn btn-link" style="font-size: 0.9rem !important; font-weight: bold !important; color: #c9c9c9;">Đăng
            Ký</a>
          <a [routerLink]="['/account/login']"
             class="btn btn-link" style="font-size: 0.9rem !important; font-weight: bold !important; color: #c9c9c9;">Đăng
            Nhập</a>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- Close Top Nav -->
