table {
  display: flex;
  flex-flow: column;
  width: 100%;
}

thead {
  flex: 0 0 auto;
}

tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 300px;
}

tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}

/* width */
tbody::-webkit-scrollbar {
  width: 10px;
}

/* Track */
tbody::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 2px grey; */
  border-radius: 10px;
}

/* Handle */
tbody::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.quantity-ly {
  line-height: 22px;
  font-size: 13px;
  /* padding-bottom: 30px; */
}

.quantity-ly {
  display: inline-block;
  margin-right: 10px;
}

.quantity-ly h6 {
  display: inline-block;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 500;
}

.quantity-ly .input-group {
  width: 120px;
  display: inline-block;
}

.quantity-ly .button {
  display: inline-block;
  position: absolute;
  top: 0;
  display: inline-block;
}

.quantity-ly .button.minus {
  left: 0;
  border-radius: 0;
  overflow: hidden;
}

.quantity-ly .input-group {
  width: 151px;
  display: inline-block;
}

.quantity-ly .button.plus {
  right: 0;
  border-radius: 0;
  overflow: hidden;
}

.quantity-ly .button .btn {
  padding: 0;
  width: 35px;
  height: 45px;
  line-height: 45px;
  border-radius: 0px;
  background: transparent;
  color: #282828;
  font-size: 12px;
  border: none;
}

.quantity-ly .button .btn:hover {
  color: #F7941D;
}

.quantity-ly .input-number {
  border: 1px solid #eceded;
  width: 100%;
  text-align: center;
  height: 45px;
  border-radius: 0px;
  overflow: hidden;
  padding: 0px 38px;
}

.input-group {
  width: 175px;
  display: inline-block;
}

.quantity-ly .button .btn {
  padding: 0;
  width: 35px;
  height: 45px;
  line-height: 45px;
  border-radius: 0px;
  background: transparent;
  color: #282828;
  font-size: 12px;
  border: none;
}

.quantity-ly .button .btn:hover {
  color: #F7941D;
}

.quantity-ly .input-number {
  border: 1px solid #eceded;
  width: 100%;
  text-align: center;
  height: 45px;
  border-radius: 0px;
  overflow: hidden;
  padding: 0px 38px;
}

.button.minus {
  left: 0;
  border-radius: 0;
  overflow: hidden;
}

.button.plus {
  right: 0;
  border-radius: 0;
  overflow: hidden;
}

.button .btn {
  padding: 0;
  width: 44px;
  height: 47px;
  line-height: 50px;
  border-radius: 0px;
  background: transparent;
  color: #282828;
  border: none;
  font-size: 12px;
}

.button .btn:hover {
  color: #F7941D;
}

.input-number {
  border: 1px solid #eceded;
  width: 100%;
  text-align: center;
  height: 47px;
  border-radius: 0;
  overflow: hidden;
  padding: 0px 45px;

}

.input-number:focus {
  outline: none !important;
  border: none !important;
}

.text-error {
  color: red !important;
}

.spinner-order {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.spinner-order .spinner-child {
  position: absolute;
  top: 50%;
  left: 45%;
}

.spinner-order span {
  margin-left: 20px;
  position: absolute;
  top: 55%;
  left: 45%;
}
