.select-box {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

.select-box .form-group {
  width: 48%;
  display: flex;
  align-items: center;
}

.select-box .form-group label {
  padding-right: 10px;
}


table {
  display: flex;
  flex-flow: column;
  width: 100%;
}

thead {
  flex: 0 0 auto;
}

tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 500px;
}

tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}

tbody tr td {
  vertical-align: middle;
  border: none;
}

/* width */
tbody::-webkit-scrollbar {
  width: 10px;
}

/* Track */
tbody::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 2px grey; */
  border-radius: 10px;
}

/* Handle */
tbody::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
