<div class="col-md-6 offset-md-3">
  <form (ngSubmit)="onLogin()" [formGroup]="loginForm" class="form-login">

    <app-sign-with></app-sign-with>

    <!-- Email input -->
    <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1" style="color: #fff; background-color: #59ab6e;">
                <i class="fas fa-user"></i>
            </span>
      <input aria-describedby="basic-addon1" aria-label="Username" class="form-control" formControlName="username"
             placeholder="Username"
             type="text">
    </div>

    <!-- Password input -->
    <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1" style="color: #fff; background-color: #59ab6e;">
                <i class="fas fa-key"></i>
            </span>
      <input aria-describedby="basic-addon1" aria-label="Username" class="form-control" formControlName="password"
             placeholder="Username"
             type="password">
    </div>

    <!-- 2 column grid layout -->
    <div class="row mb-4">
      <div class="col-md-6">
        <!-- Checkbox -->
        <div class="form-check mb-3 mb-md-0">
          <input checked class="form-check-input" formControlName="remenber" id="loginCheck" type="checkbox" value=""/>
          <label class="form-check-label" for="loginCheck" style="color: #fff"> Nhớ Tài Khoản </label>
        </div>
      </div>

      <div class="col-md-6 d-flex justify-content-end">
        <!-- Simple link -->
        <a href="#!">Quên Mật Khẩu?</a>
      </div>
    </div>

    <!-- Submit button -->
    <button class="btn btn-primary btn-block mb-4" type="submit">Đăng Nhập</button>

    <!-- Register buttons -->
    <div class="text-center">
      <p style="color: #fff">Bạn Chưa Có Tài Khoản <a [routerLink]="['/account/register']">Đăng Ký</a></p>
    </div>
  </form>
</div>
<!-- Pills content -->
