<div class="text-center mb-3">
  <p style="color: #fff">Đăng Nhập Với:</p>
  <button (click)="signInWithFacebook()" class="btn btn-link btn-floating mx-1" type="button">
    <i class="fab fa-facebook-f"></i>
  </button>

  <button (click)="signInWithGoogle()" class="btn btn-link btn-floating mx-1" type="button">
    <i class="fab fa-google"></i>
  </button>

  <button class="btn btn-link btn-floating mx-1" type="button">
    <i class="fab fa-twitter"></i>
  </button>

  <button class="btn btn-link btn-floating mx-1" type="button">
    <i class="fab fa-github"></i>
  </button>
</div>

<p class="text-center" style="color: #fff">Hoặc:</p>
